[data-icon]:before {
	font-family: 'iconset'; 
  	content: attr(data-icon);
  	speak: none; 
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
}
/* #20 enable select flag for contenteditalble fields in Chrome */
*[contenteditable] {
    -webkit-user-select: text;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}