.cl { clear:both; }
.fl { float:left; }
.fr { float:right; }
.ab { position: absolute; }
.hide { display: none; }
.m-point { cursor:pointer; }
.oh { overflow:hidden; }
.hide-text { font: 0/0; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.ir { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.hidden { display: none; visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.center { text-align:center; margin-left:auto; margin-right:auto; }
.trunc { 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
}
.no-scroll{ overflow:hidden; -webkit-overflow-scrolling:none; }
.scroll { overflow-y: scroll; -webkit-overflow-scrolling: touch; }
.external-link {
	display:inline-block;
	padding-right:1.5em;
	margin-right:2px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPCEtLSBHZW5lcmF0b3I6IEljb01vb24uaW8gLS0+IDwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+IDxzdmcgd2lkdGg9IjUwMC4wMDAwMDAwMDAwMDAwNiIgaGVpZ2h0PSI1MDAiIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBmaWxsPSIjMDAwMDAwIj48cGF0aCBkPSJNIDM3NS4wMCwzOTUuMDBMIDUwLjAwLDM5NS4wMCBsMC4wMC0yMjUuMDAgbCA2NC44NzUsMC4wMCBjMC4wMCwwLjAwLCAxNy4yMjUtMjIuNDAsIDU0LjI1LTUwLjAwTCAyNS4wMCwxMjAuMDAgYy0xMy44MCwwLjAwLTI1LjAwLDExLjIwLTI1LjAwLDI1LjAwbDAuMDAsMjc1LjAwIGMwLjAwLDEzLjgyNSwgMTEuMjAsMjUuMDAsIDI1LjAwLDI1LjAwbCAzNzUuMDAsMC4wMCBjIDEzLjgyNSwwLjAwLCAyNS4wMC0xMS4xNzUsIDI1LjAwLTI1LjAwbDAuMDAtOTMuNjUgbC01MC4wMCw0MS4xMjVMIDM3NS4wMCwzOTUuMDAgeiBNIDMzNC4wNSwyMjEuMjVsMC4wMCw4OC43NSBMIDUwMC4wMCwxNzkuOTc1TCAzMzQuMDUsNTUuMDBsMC4wMCw3OC4yNSBDIDEzMi41MCwxMzMuMjc1LCAxMzIuNTAsMzMyLjUwLCAxMzIuNTAsMzMyLjUwQyAxODkuNTUsMjM4LjgwLCAyMjQuNjUsMjIxLjI1LCAzMzQuMDUsMjIxLjI1eiIgPjwvcGF0aD48L3N2Zz4=);
	background-repeat:no-repeat;
	background-position:right 0px;
	background-size: contain;
}
.external-link-light {
	display:inline-block;
	padding-right:1.5em;
	margin-right:2px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNTAwcHgiIGhlaWdodD0iNTAwcHgiIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MDAgNTAwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGOUY5RjkiIGQ9Ik0zNzUsMzk1SDUwVjE3MGg2NC44NzVjMCwwLDE3LjIyNS0yMi40LDU0LjI1LTUwSDI1Yy0xMy44LDAtMjUsMTEuMi0yNSwyNXYyNzVjMCwxMy44MjUsMTEuMiwyNSwyNSwyNWgzNzUNCgljMTMuODI1LDAsMjUtMTEuMTc1LDI1LTI1di05My42NWwtNTAsNDEuMTI1VjM5NXogTTMzNC4wNSwyMjEuMjVWMzEwTDUwMCwxNzkuOTc1TDMzNC4wNSw1NXY3OC4yNQ0KCUMxMzIuNSwxMzMuMjc1LDEzMi41LDMzMi41LDEzMi41LDMzMi41QzE4OS41NSwyMzguOCwyMjQuNjUsMjIxLjI1LDMzNC4wNSwyMjEuMjV6Ii8+DQo8L3N2Zz4NCg==);
	background-repeat:no-repeat;
	background-position:right 0px;
	background-size: contain;
}