.cl { clear:both; }
.fl { float:left; }
.fr { float:right; }
.ab { position: absolute; }
.hide { display: none; }
.m-point { cursor:pointer; }
.oh { overflow:hidden; }
.hide-text { font: 0/0; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.ir { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.hidden { display: none; visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.center { text-align:center; margin-left:auto; margin-right:auto; }
.trunc { 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
}
.no-scroll{ overflow:hidden; -webkit-overflow-scrolling:none; }