.red, .red:visited { background-color: #e33100; }
.red:hover { background-color: #872300; }

.green, .green:visited { background-color: #91bd09; }
.green:hover { background-color: #749a02; }

.blue, .blue:visited { background-color: #2daebf; }
.blue:hover { background-color: #007d9a; }

.magenta, .magenta:visited { background-color: #a9014b; }
.magenta:hover { background-color: #630030; }

.orange, .orange:visited { background-color: #ff5c00; }
.orange:hover { background-color: #d45500; }

.yellow, .yellow:visited { background-color: #ffb515; }
.yellow:hover { background-color: #fc9200; }

.grey, .grey:visited { background-color: #666666; }
.grey:hover { background-color: #333333; }