@charset "utf-8";
/* Common.css */

/* Paul Irish box sixing fix */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* don't focus with outline */
*:focus { outline: none; }

.cl { clear:both; }

.fl { float:left; }

.fr { float:right; }

.ab { position: absolute; }

.hide{ display: none; }

.m-point { cursor:pointer; }

.oh { overflow:hidden; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.tr-grey { background: rgba(220, 220, 220, 0.5); }

.trunc { 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
}

a.ico-external {
	display:inline-block;
	padding-right:15px;
	margin-right:2px;
	background-image:url(../img/icons/external_link_icon_sprite.gif);
	background-repeat:no-repeat;
	background-position:right 3px;
}

/* Rounded corners */
.r5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

.r10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
}

.r15 {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 15px;
}

.r20 {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 20px;
}

.r25 {
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	padding: 25px;
}

.r30 {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	padding: 30px;
}

.r35 {
	border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	padding: 35px;
}

.r40 {
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	padding: 40px;
}

.r45 {
	border-radius: 45px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	padding: 45px;
}

.r50 {
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	padding: 50px;
}