.ribbon {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	height: 150px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none !important;
}

.ribbon:hover {
	text-decoration: none !important;
}

.ribbon .tag {
	display: block;
	height: 30px;
	width: 200px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	text-decoration:none !important;
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
	-webkit-transform-origin: 15px 0px;
	-moz-transform-origin: 15px 0px;
	-ms-transform-origin: 15px 0px;
	-o-transform-origin: 15px 0px;
	transform-origin: 15px 0px;
	-webkit-transform: translate(80.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);		
}
.ribbon .tag:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 196px;
	height: 26px;
	margin: 1px;
	border: 1px solid rgba( 255, 255, 255, 0.4 );
}

.tag:hover { background-color: #111; color: #fff; text-decoration:none !important }
.small.tag, .small.tag:visited { font-size: 11px; }
.tag, .tag:visited,
.medium.tag, .medium.tag:visited { font-size: 13px; }
.large.tag, .large.tag:visited { font-size: 14px; }