.ribbon {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	height: 150px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.ribbon .tag {
	display: block;
	height: 30px;
	width: 200px;
	color: #fff;
	background: #aa0000;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );
	-webkit-transform-origin: 15px 0px;
	-moz-transform-origin: 15px 0px;
	-ms-transform-origin: 15px 0px;
	-o-transform-origin: 15px 0px;
	transform-origin: 15px 0px;
	-webkit-transform: translate(80.00000000000003px, -14.999999999999996px) rotate(45.000000000000014deg);		
}
.ribbon .tag:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 196px;
	height: 26px;
	margin: 1px;
	border: 1px solid rgba( 255, 255, 255, 0.4 );
}

.tag:hover { background-color: #111; color: #fff; }
.small.tag, .small.tag:visited { font-size: 11px; }
.tag, .tag:visited,
.medium.tag, .medium.tag:visited { font-size: 13px; }
.large.tag, .large.tag:visited { font-size: 14px; }
.red.tag, .red.tag:visited { background-color: #e33100; }
.red.tag:hover { background-color: #872300; }
.green.tag, .green.tag:visited { background-color: #91bd09; }
.green.tag:hover { background-color: #749a02; }
.blue.tag, .blue.tag:visited { background-color: #2daebf; }
.blue.tag:hover { background-color: #007d9a; }
.magenta.tag, .magenta.tag:visited { background-color: #a9014b; }
.magenta.tag:hover { background-color: #630030; }
.orange.tag, .orange.tag:visited { background-color: #ff5c00; }
.orange.tag:hover { background-color: #d45500; }
.yellow.tag, .yellow.tag:visited { background-color: #ffb515; }
.yellow.tag:hover { background-color: #fc9200; }
.grey.tag, .grey.tag:visited { background-color: #666666; }
.grey.tag:hover { background-color: #333333; }