.facebook-black {
	background: url('../img/icons/social-monochrome.png') no-repeat 0 0;
	width: 32px;
	height: 32px;
}

.facebook-white  {
	background: url('../img/icons/social-monochrome.png') no-repeat 0 -40px;
	width: 32px;
	height: 32px;
}

.foursquare-black  {
	background: url('../img/icons/social-monochrome.png') no-repeat -40px 0;
	width: 32px;
	height: 32px;
}

.foursquare-white  {
	background: url('../img/icons/social-monochrome.png') no-repeat -40px -40px;
	width: 32px;
	height: 32px;
}

github-black {
	background: url('../img/icons/social-monochrome.png') no-repeat -80px 0;
	width: 32px;
	height: 32px;
}

.github-white {
	background: url('../img/icons/social-monochrome.png') no-repeat -80px -40px;
	width: 32px;
	height: 32px;
}

.google-black {
	background: url('../img/icons/social-monochrome.png') no-repeat -120px 0;
	width: 32px;
	height: 32px;
}

.google-white {
	background: url('../img/icons/social-monochrome.png') no-repeat -120px -40px;
	width: 32px;
	height: 32px;
}

.linkedin-black {
	background: url('../img/icons/social-monochrome.png') no-repeat -160px 0;
	width: 32px;
	height: 32px;
}

.linkedin-white {
	background: url('../img/icons/social-monochrome.png') no-repeat -160px -40px;
	width: 32px;
	height: 32px;
}

.tumblr-black {
	background: url('../img/icons/social-monochrome.png') no-repeat -200px 0;
	width: 32px;
	height: 32px;
}

.tumblr-white {
	background: url('../img/icons/social-monochrome.png') no-repeat -200px -40px;
	width: 32px;
	height: 32px;
}

.twitter-black {
	background: url('../img/icons/social-monochrome.png') no-repeat -240px 0;
	width: 32px;
	height: 32px;
}

.twitter-white {
	background: url('../img/icons/social-monochrome.png') no-repeat -240px -40px;
	width: 32px;
	height: 32px;
}

.wordpress-black {
	background: url('../img/icons/social-monochrome.png') no-repeat -280px 0;
	width: 32px;
	height: 32px;
}

.wordpress-white {
	background: url('../img/icons/social-monochrome.png') no-repeat -280px -40px;
	width: 32px;
	height: 32px;
}
