ul.hover-xpnd-16, ul.hover-xpnd-32, ul.hover-xpnd-48, ul.hover-xpnd-64 {
	
}

ul.hover-xpnd-16 li, ul.hover-xpnd-32 li, ul.hover-xpnd-48 li, ul.hover-xpnd-64 li, div.hover-xpnd-16, div.hover-xpnd-32, div.hover-xpnd-48, div.hover-xpnd-64 {
	display:inline-block;
	overflow:hidden;
}

ul.hover-xpnd-16 li:hover, ul.hover-xpnd-32 li:hover, ul.hover-xpnd-48 li:hover, ul.hover-xpnd-64 li:hover, div.hover-xpnd-16:hover, div.hover-xpnd-32:hover, div.hover-xpnd-48:hover, div.hover-xpnd-64:hover {
	overflow:visible;
	width:auto;
}

ul.hover-xpnd-16 li, div.hover-xpnd-16 {
	padding-left:16px;
}

ul.hover-xpnd-32 li, div.hover-xpnd-32 {
	padding-left:32px;
}

ul.hover-xpnd-48 li, div.hover-xpnd-48 {
	padding-left:48px;
}

ul.hover-xpnd-64 li, div.hover-xpnd-64 {
	padding-left:64px;
}
